
:root {
    --color-white: #fff;
    --color-green: #6CB43F;
    
    --color-grey-light:#E1E1E1;
    
    --color-grey-dark: #798296;

}

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    width: 100vh;
}

body {
    font-family: 'FiraGO', sans-serif;
    
}